.wrapper .button {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: rgb(255,255,255);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
}
.wrapper .button:hover {
    width: 200px;
}

.wrapper .button .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
    background: transparent;
}

.wrapper .button:nth-child(1):hover .icon {
    background: rgb(66, 103, 178);
}
.wrapper .button:nth-child(2):hover .icon {
    background: rgb(225, 48, 108);
}
.wrapper .button:nth-child(3):hover .icon {
    background: rgb(29, 161, 242);
}
.wrapper .button:nth-child(4):hover .icon {
    background: rgb(37, 211, 102);
}
.wrapper .button:nth-child(5):hover .icon {
    background: rgb(213, 73, 60);
}

.wrapper .button .icon i {
    font-size: 30px;
    line-height: 60px;
    transition: all 0.3s ease-out;
    background: transparent;
}
.wrapper .button:hover .icon i {
    color: #fff;
}

.wrapper .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span {
    color: rgb(66, 103, 178);
    background: transparent;
}
.wrapper .button:nth-child(2) span {
    color: rgb(225, 48, 108);
    background: transparent;
}
.wrapper .button:nth-child(3) span {
    color: rgb(29, 161, 242);
    background: transparent;
}
.wrapper .button:nth-child(4) span {
    color: rgb(37, 211, 102);
    background: transparent;
}
.wrapper .button:nth-child(5) span {
    color: rgb(213, 73, 60);
    background: transparent;
}